
@{
    ViewBag.Title = "Create";
}
@model MVC_Crud.Models.Shipper
<div class="row" style="margin-top:50px">
    <h2>Kargo Ekle</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post">
                <label>Kargo Adı</label>
                <input type="text" name="CompanyName" value="" class="form-control" style="min-width:100%" />
                <label>Telefon</label>
                <br />
                <input type="text" name="Phone" value="" class="form-control" style="min-width:100%" />
                <br />
                <input type="submit" name="name" value="Kaydet" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>



