
@{
    ViewBag.Title = "Index";

}

<div class="row" style="margin-top:50px">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <button id="btnLogin" class="btn btn-info">Login Sayfasına Git</button>
                @Html.ActionLink("Cookie Temizle", "ClearCookie", "Login", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#btnCookie").click(function () {
            $.cookie('login', null, { path: '/' });
            $.removeCookie('login', { path: '/' });
            $.removeCookie('login', { expire: -1 });
        });
        $("#btnLogin").click(function () {
            window.location.href = "Login/Login";
        });
    });
</script>
