
@{
    ViewBag.Title = "Index";
}

@*

    Sayfa içerisinde belirli bir alanı Cache'lemek istiyor iseniz. Partial içerisinde göstererek PartialViewResult bölümünü OutPutCache işlemi gerçekleştirebilirsiniz.

*@
<div class="row" style="margin:50px">
    <p class="label label-danger">Saat :  @DateTime.Now.ToLongTimeString() </p> <br /><br />

    <div class="col-lg-6">
        @Html.Action("_CategoryPartial")
    </div>
    <div class="col-lg-6">
        @Html.Action("_CategoryPartialParam")
    </div>
</div>
